<style>
  body {
    background-color: #f2f2f2;
    text-align: center;
  }
  .container {
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  h1 {
    color: #0099ff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  a {
    color: #0099ff;
    text-decoration: none;
  }
</style>

<body>
  <div class="container">
    <h1>You already have an account/ You are already a User</h1>
    <br />
    <h1>Click here to Login</h1>
    <br />
    <a href="/auth/Login">Welcome to Login</a>
  </div>
</body>