             <h1 class="mb-3">Welcome {{username}}</h1>
             <form action="/accountEdit/{{id}}" method="post" enctype="multipart/form-data">
             <div class="w-100 d-flex flex-column gap-3 px-4">
                <label for="username"></label>
              <input class="form-control p-3 p bg-gray" type="text" name="username" id="username" placeholder="Name" value="{{user.username}}" required> <br><br>
              <label for="email"></label>
             <input class="form-control p-3 p bg-gray" type="email" name="email" id="email" placeholder="Email" value="{{user.email}}" required> <br> <br>
             </div>
             <div class="w-100 px-4 mt-3 mb-2">
             <button class="btn btn-primary w-100 py-3" type="submit">Edit</button>
             </div>
             </form>